
/*******************************
======== ADMIN CSS =============
*******************************/

body { background-color: transparent !important; }

.short-label{
	text-align:center;
	padding:15px 0px;
	height:60px;	
	vertical-align: center;
}

.short-code{
	width: 100%;	
}



/*******************************
======== FRONTEND CSS ==========
*******************************/
.widget-icon-box .icon-box:visited,
.widget-icon-box .icon-box:active,
.widget-icon-box .icon-box:focus { text-decoration: none!important;  }

